nav {
  border-bottom: 1px solid #ECECEC;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(6px);
  width: 100%;
  height: auto;
}

nav ul {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  list-style-type: none;
  text-decoration: none;
}

.bar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.button-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 12px;
}

.liste a {
  text-decoration: none;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.main-button a {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.button-demo a {
  background: var(--2, linear-gradient(99deg, #233DFF 0.82%, #E17AFF 38.59%, #FD972C 95.25%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}
