p{
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin:0;
margin-bottom: 0 !important;
}

body{
  font-family: Inter !important;
}

#Prix{
  background: #F0F0F0;
}

#Calcul, #Dashboard, #Fonctionnement{
  background-color: rgba(249, 249, 249, 0.8);
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 128px;
  background: linear-gradient(180deg, #FFF2F2 0.16%, #F9f9f9 28.99%)
}

#Fonctionnement{
  background-color: #f9f9f9;
}


.title h3{
  margin: 0;
}


html{
  margin:-8px
}

h1 {
  color: #000;
  font-family: Inter;
  font-size: 40px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 120% !important;
  margin-bottom: 0 !important;
  text-align: center;
}

h3 {
  color: #000;
  font-family: Inter;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 24px !important;
  margin-bottom: 0 !important;
  margin-top: 0px;
}

h4{
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.insta{
  width: 107%;
  margin-top: 80px;
  margin-bottom: 128px;

}

.encadre {
  padding: 20px;
  border-radius: 20px;
  border-image: linear-gradient(99deg, #233DFF 0.82%, #E17AFF 38.59%, #FD972C 95.25%);
  border-image-slice: 1;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.section{
  width: 100% !important;
}


@media screen and (max-width: 1200px) {
  .section-1{
    padding-top: 80px;
  }
  .insta{
    width: 200%;
  }
}
